.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#divofstudentstable {
    text-align: center;
    margin: 10px 0;
}

#studentstable,
th,
td {
    border: 2px solid black;
}

#studentstable {
    margin-top: 10px;
    background-color: white;
    text-align: center;
}

#downloadexcelbutton {
    margin: 5px;
    padding: 2px;
    border: 2px solid black;
    background-color: chartreuse;
    font-weight: bold;
}

#downloadexcelbutton:hover {
    background-color: springgreen;
    cursor: pointer;
    transform: scale(1.2);
}
